---
import Layout from "../layouts/Layout.astro";

const description =
	"Andrew is a software engineer at ngrok, where he works on the Network Edge team. Previously worked at Twilio and Levers.";
---

<Layout title="Andrew Ryno" description={description}>
	<div class="max-w-lg mx-auto my-10 bg-white rounded-lg shadow-md p-5">
		<h2 class="text-center text-2xl font-semibold mt-3">Andrew Ryno</h2>
		<div class="mt-5">
			<p class="text-gray-600 mt-2">
				{description}
			</p>
		</div>
	</div>
	<div class="flex justify-center mt-5">
		<a
			href="https://www.linkedin.com/in/andrewryno/"
			class="text-blue-500 hover:text-blue-700 mx-3">LinkedIn</a
		>
		<a
			href="https://github.com/andrewryno"
			class="text-blue-500 hover:text-blue-700 mx-3">GitHub</a
		>
	</div>
</Layout>
